<div id="first-page" style="">
<!-- TOP NAVBAR WITH BUTTON FOR SLIDING PANEL-->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand"  href="#" style="float: right" >
        <button id="arrow-button" type="submit" class="btn btn-default" name="">
          <span id="right-panel-link" href= "#right-panel"  class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
      </a>
    </div>
  </nav>

  <!---BEGINNING OF RIGHT SLIDING PANEL FOR LOGIN/REGISTER-->
  <div id="right-panel" class="panel">
    <button id="register-button">
      <a><em><span id="register" href="#">New user? Register</span></em></a>
    </button>


    <form id="right-panel-login" action='/instagram_images' method="GET">
      <div class="form-group">
        <label>USERNAME</label>
        <input type="text" class="form-control" id="username" placeholder="Username" value="">
      </div>
      <div class="form-group">
        <label>PASSWORD</label>
        <input type="password" class="form-control" id="password" placeholder="Password" value="">
      </div>
      <button type="submit" id="login-button" class="ghost side-button">
      LOGIN</button>   
    </form>

    <form id="right-panel-register">
      <div class="form-group">
        <label>USERNAME</label>
        <input type="text" class="form-control" id="username" placeholder="Username" value="">
      </div>
      <div class="form-group">
        <label>EMAIL</label>
        <input type="email" class="form-control" id="email" placeholder="Email" value="">
      </div>
      <div class="form-group">
        <label>PASSWORD</label>
        <input type="password" class="form-control" id="password" placeholder="Password" value="">
      </div>
      <button type="submit" id="sign-up" class="ghost side-button">SIGN UP</button>   
    </form>
  </div><!--END OF THE RIGHT SLIDING PANEL-->

  <!--LANDING PAGE -->
  <div id="landing" class="container">
    <div class="row">
      <span id="app-name">HYPERLOCAL</span>
    </div><!-- END OF DIV WITH APP NAME-->
    <div class="row">
      <div class="col-md-4"> </div>
      <div class="col-md-4" style="text-align: center">
        <a class="ghost" id="enter" href="/main">Try as a Guest</a>
      </div>
      <div class="col-md-4"> </div>
    </div><!-- END OF ROW WITH ENTER BUTTON-->
  </div><!-- END OF THE LANDING CONTAINER-->
</div> <!--END OF THE FIRST PAGE-->
