

<header>
 <!--    <img src= "/../uploads/test.jpg"> -->
 <div class = "resize">
  <%= @html_pic_display %>
  <hr/>
  </div>
</header>





<div class="container">
  <div class="row">
    <%= @html %> 
  </div>
</div>
