<<<<<<< HEAD


<header>
 <!--    <img src= "/../uploads/test.jpg"> -->
 <div class = "resize">
  <%= @html_pic_display %>
  <hr/>
  </div>
=======
<%= include_gon %> <!-- FOR WILSON'S TESTING -->
<header>
  <h1>I'm header!</h1> 
>>>>>>> e2d3afbebd8d34527843926144db2c6f6b4e07bb
</header>





<div class="container">
  <div class="row">
<<<<<<< HEAD
    <%= @html %> 
=======
    <!--<%= @html %>--><!-- FOR WILSON'S TESTING -->
>>>>>>> e2d3afbebd8d34527843926144db2c6f6b4e07bb
  </div>
</div>

<!-- FOR WILSON'S TESTING -->
<!--<div id="map_canvas" style="width:1500px;height:500px"></div>-->
