<!DOCTYPE html>
<html lang="en">
<head>    
  <title>Hyperlocal Picture App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <meta name="description" content="Hyperlocal Picture App"/>
  <meta name="keywords" content="hyperloca, picture, app, geolocation, instagram"/>
 

  <!-- STYLES -->
  
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/jasny-bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>


  <title>Hyperlocal</title>
</head>
<body>
  <%= include_gon %>
  <%= yield %>



<footer></footer>
  <!-- SCRIPTS -->  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
  <script src="/javascript/bootstrap.min.js"></script> 
  <script src="/javascript/jquery.panelslider.js"></script>
  <script src="/javascript/jasny-bootstrap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="/javascript/application.js"></script>
  <script src="/javascript/map.js"></script>


</body>
</html>
